html {
	height: 100%;
}

body {
	font-family: Roboto, serif;
}

li {
	font-size: 13px;
	display: inline;
	padding: 10px;
}

a {
	text-decoration: none;
	color: #646464;
}

.right {
	float: right;
}

.left {
	float: left;
}

/* header */
header {
	width: 100%;
}

header ul li img {
	height: auto;
	width: auto;
	max-width: 20px;
	max-height: 20px;
	opacity: .5;
}

header ul li button {
	padding: 5px;
	width: 70px;
	height: 30px;
	color: #fff;
	background: #4387fd;
	border: solid 1px #4285f4;
	border-radius: 2px;
	font-weight: bold;
	font-size: 13px;
}

/* logo and search */
main {
	display: block;
	margin: auto;
	width: 100%;
	clear: both;
}

div img {
	height: auto;
	width: auto;
	max-height: 300px;
	max-width: 300px;
	margin: auto;
	display: block;
	text-align: center;
}

input[type=text] {
	width: 600px;
	height: 40px;
	font-size: 15px;
	padding-left: 15px;
	border: 1px solid #DADCE0;
	border-radius: 1px;
	box-shadow: -4px 7px 14px -5px #C7CECD;
}

div button {
	background: #f2f2f2;
	color: #757575;
	border: solid 1px #f2f2f2;
	border-radius: 2px;
	padding: 5px;
	font-size: 13px;
	font-family: arial, sans-serif;
	font-weight: bold;
	margin-left: 5px;
	margin-right: 5px;
	width: 132px;
	height: 36px;
}

#searchBar, 
.textInput {
	text-align: center;
}

#searchBar {
	width: 100%;
	margin-top: -25px;
}

#searchButtons {
	padding: 25px 10px;
}

/* footer */
footer {
	clear: both;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	overflow: hidden;
	width: 100%;
	background-color: #efefef;
	border-top: solid 1px #e4e4e4;
}

footer ul.right {
	padding-right: 30px;
}

/*	hover effects */
a:hover {
	text-decoration: underline;
}

header ul li img:hover {
	opacity: 1;
}

div button:hover {
	border: .5px solid #CAC9D2;
	box-shadow: -.5px .5px #CAC9D2;
	color: #000;
}

input[name=query]:hover {
	box-shadow: -4px 7px 14px -5px #AAAFB2;
	outline: none;
}
